.row-header {
	margin:0px auto ;
	padding:0px auto;
}

.row-content {
	margin:0px auto ;
	padding:50px 0px 50px 0px;
	border-bottom: 1px ridge ;
	min-height: 400px;
}

.footer{
	background-color: #D1C4E9 ;
	margin: 0px auto;
	padding: 20px 0px 20px 0px;
}

.jumbotron {
	padding:70px 30px 70px 30px ;
	margin: 0px auto;
	background-color: #9575CD;
	color: floralwhite;
}

.address{
	font-style: 80%;
	margin: 0px;
	color: #0f0f0f ;
}#F0C52F

body {
	padding: 50px 0 0 0;
	z-index: 0; /*The z-index property specifies the stack order of an element.An element with greater stack order is always in front of an element with a lower stack order.*/
}

.navbar-dark{
	background-color: #512DA8;
}

#cardformheader {
	background: #F1CA12;
}

.topbtn{
	background:#F1CA12;

}

.tab-content {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 10px;
}
.carousel{
 background: #512Da8;
 margin: 30px;	
}

.carousel-item{
	height: 300 pixel;	
}
.carousel-item img {
    position: relative;
	top: 0;
	left: 0;	
	min-height: 300px;
}

#carousel-button{
	right: 0px;
	position: absolute;
	bottom: 0px;
}




